:root { 
    --primary-color: #42423d; 
    --background-color: #f2f2e9b1; 
    --background-color-secondary: #E1E1CC;
    --main-font: 'Libre Baskerville', serif;
    --secondary-font: 'Inter', sans-serif;
} 

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    
}

.login-container {
    background-color: var(--background-color-secondary);
    padding: 40px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.062);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.login-container h2 {
    font-size: 2rem;
    color: black;
    margin: 0;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

input {
    
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    font-family: var(--secondary-font);
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}   
form {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: ;
    justify-content: center;
}


 button {
    background-color: var(--primary-color);
    border: none;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    font-family: var(--secondary-font);
    color: var(--background-color-secondary);
    cursor: pointer;
}